.app {
  display: flex;
  justify-content: center;
}

.paxos-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paxos-display-container {
  /* height: 100%; */
  width: 100%;
}

.paxos-setting-container {
  width: 25%;
}